.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-form, .register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0.5rem;
    border-radius: 5%;
}