#navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-form, .register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}

.create-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

input {
    margin: 0.5rem;
    border-radius: 5%;
}

.name {
    margin-right: 3rem;
}

.desc {
    height: 200px;
}

.desc::placeholder {
    resize: none;
    text-wrap: wrap;
}

.welcome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.home {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.formHidden {
    display: none;
}

.showBtn {
    display: inline-block;
}